<!DOCTYPE html>
<html>
<head>
  <title>Commotion</title>
  <%= stylesheet_link_tag    "commotion/application", media: "all" %>
  <%= javascript_include_tag "commotion/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
